*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start utility */
.lp-hidden{
    display: none;
}
/* finish utility */
/*****************start header **********************/
img[src="img/sony_logo.svg"]{
    height: 20px;
}

/* start nav */
img[src="img/play_logo.svg"]{
    height: 50px;
}
img[src="img/chevron-down-solid.svg"]{
    height: 10px;
}
img[src="img/lens.svg"]{
    height: 20px;
}
ul{
    list-style: none;
}
nav li{
 display: inline-block;
 padding-right: 20px;
}
.lp-hidden i{
    font-size:20px;
}
/* finish nav */

/**************** finish header **********************/

/* media Queries */
@media screen and (max-width:991px) {
    .lp-show{
       display: none !important;
    }
    .lp-hidden{
       display: flex;
    }
} 